In [1]:
# importing dependencies and packages
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [2]:
url = 'https://webpages.charlotte.edu/mscipion/'
response = requests.get(url)

In [3]:
# getting the html text and scrape the table content only
html = response.text
soup = BeautifulSoup(html, 'html.parser')    
table = soup.find('table')
print(table)

<table>
<tr>
<th>Student</th>
<th>Favourite Computer Language</th>
<th>Years of Experience</th>
</tr>
<tr>
<td>Fred</td>
<td>Kotlin</td>
<td>4</td>
</tr>
<tr>
<td>Paula</td>
<td>Python</td>
<td>2</td>
</tr>
<tr>
<td>Ernst</td>
<td>Java</td>
<td>7</td>
</tr>
<tr>
<td>Isabel</td>
<td>C++</td>
<td>3</td>
</tr>
<tr>
<td>Tony</td>
<td>Pearl</td>
<td>7</td>
</tr>
<tr>
<td>Maria</td>
<td>Cobol</td>
<td>15</td>
</tr></table>

In [4]:
# Getting the titles from the headers
titles = []
headers = table.find_all("th")
for i in headers:
    title = i.text
    titles.append(title)
    
print(titles)

['Student', 'Favourite Computer Language', 'Years of Experience']

In [5]:
# Creating a dataframe with the columns
table_df = pd.DataFrame(columns=titles)
table_df.describe()

       Student Favourite Computer Language Years of Experience
count        0                           0                   0
unique       0                           0                   0
top        NaN                         NaN                 NaN
freq       NaN                         NaN                 NaN

In [6]:
# Getting the rows from the tables
rows = table.find_all("tr")
for i in rows[1:]:
    data =  i.find_all("td")
    row = [tr.text for tr in data]
    l = len(table_df)
    table_df.loc[l] = row

table_df

  Student Favourite Computer Language Years of Experience
0    Fred                      Kotlin                   4
1   Paula                      Python                   2
2   Ernst                        Java                   7
3  Isabel                         C++                   3
4    Tony                       Pearl                   7
5   Maria                       Cobol                  15